name: CI Test

on:
  push:
    branches:
      - main
      - develop
      - feature/**

jobs:
  test:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout code
        uses: actions/checkout@v4

      # âŒ Intentional error here
      - name: Install dependencies
        run: pip install -r requirements.txt,
